.section-title{
  text-align: center;
  h2{
    color: $primary-color;
    font-size: 40px;
    font-weight: 300;
  }
  p{
    color: #848c99;
font-size: 17px;
font-weight: 300;
max-width: 613px;
margin: 0 auto;
line-height: 1.9;

  }
  &.text-white{
    h2{
      color: #fff;
    }
    p{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
